<%- layout('layout/main.ejs') %>
// aqui va todo lo de las pantallas 
<form action="/signin" method="POST">
    <input type="email" name="email" placeholder="inserte su email">
    <input type="password" name="password" placeholder="ingrese su contrasena">
    <button type="submit">
        SingIn
    </button>
</form>
